// _breakpoints.scss
$bp-mobile: 768px;
$bp-desktop: 1440px;
$bp-large: 1600px;

// 1600↑ 大螢幕
@mixin large {
  @media only screen and (min-width: $bp-large) {
    @content;
  }
}

// 1440↑ 桌機
@mixin desktops {
  @media only screen and (min-width: $bp-desktop) {
    @content;
  }
}

// 768~1440（平板 + 手機橫向）
@mixin pad {
  @media only screen and (min-width: $bp-mobile) and (max-width: ($bp-desktop - 0.0002px)) {
    @content;
  }
}

// 1440 ↓（平板 + 手機）
@mixin mobile_pad {
  @media only screen and (max-width: ($bp-desktop - 0.0002px)) {
    @content;
  }
}

// 768 ↓（手機）
@mixin mobile {
  @media only screen and (max-width: ($bp-mobile - 0.0002px)) {
    @content;
  }
}