:root {
  --color-bg-main: #0F172A;
  --color-bg-card: #162235;
  --color-bg-card-soft: #1E2A3E;

  --color-text-main: #FFFFFF;
  --color-text-body: #C7D2E1;
  --color-text-muted: #94A3B8;
  --color-link: #629feb;

  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;
}