:root {
  --color-bg-main: #19202e;
  --color-bg-main-opacity: #19202e80;
  --color-bg-card: #1e2738;
  --color-bg-card-soft: #1E2A3E;

  --color-text-main: #FFFFFF;
  --color-text-body: #C7D2E1;
  --color-text-muted: #94A3B8;
  --color-link: #629feb;
  --color-red: #fe746c;

  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;
}