@use './utils/mixin' as *;
@use './utils/grid' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  color: #a5b3ce;
  line-height: 1.6;
}

[v-cloak] {
  display: none;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
}

.backdrop,
.dialog-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  backdrop-filter: blur(10px);
}

ul[role="list"] {
  list-style: none;
  padding: 0;

  li {
    a {
      text-decoration: none;
    }
  }
}

.backdrop-in {
  backdrop-filter: blur(20px);
}


/*============================================================================
    客製樣式
============================================================================*/

:root {
  --f7-navbar-height: 64px;
}

.page:not(.popup-page) {
  .navbar {
    .navbar-bg {
      background: none;
      color: #fff;
      backdrop-filter: none;

      &:after {
        display: none;
      }
    }

    .title {
      color: #fff;
    }
  }
}

.page {

  background: var(--color-bg-main);

  .page_block {
    padding: 16px;
    margin: 0 auto;
    max-width: 940px;

    .info {
      padding: 32px;
      background: var(--color-bg-card);
      border-radius: 5px;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
      position: relative;
      margin-top: calc(80px + 1rem);
      padding-top: calc(80px + 1rem);

      .title {
        font-size: 1.75rem;
        text-align: center;
        color: #fff;
        font-weight: bold;
        margin-bottom: 1.6rem;
      }

      .headshot {
        max-width: 160px;
        height: auto;
        border-radius: 50%;
        border: 8px #eee solid;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);

        img {
          width: 100%;
        }
      }
    }
  }
}

.popup {

  .navbar {
    height: var(--f7-navbar-height);
    border-bottom: 1px #ffffff20 solid;

    .right {
      .icon {
        color: var(--color-link);
      }
    }
  }

  .page-content {
    .block {
      padding-top: calc(var(--f7-navbar-height) + 16px);
      margin: 0;
    }

    @include mediaMax(630) {
      padding-top: 0;
    }
  }
}

.portfolio_footer {
  margin: 48px auto 24px;
  text-align: center;
  font-size: 15px;

  .divider {
    margin: 0 3px;
  }

  a {
    color: var(--color-link);
  }
}